*{
    
    font-family:sans-serif;
}
header{
    width: 100%;
    height:15%;
    font-weight: bold;
}
header div{
    display: inline-flex;
    margin-left: 200px;
}
header  span{
    display:flex;
    flex-direction: row;
    margin: 0 5vh;
}
header span h3{
    margin-top: 30px;
    font-size: 20px;

}
body, html {
    height: 100%;
  } 
.bg {
    background-image: url("bg.jpeg");
    height:80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.index-content
{
    padding-left:200px;
    text-align: left;
    margin-top: 10%;   
    width:1100px;
}
h1{
    font-size: 40px;
}
.shop h3 {
    margin-left: 300px;
}
.base{
    margin-top: 15%;
    margin-left: 5%;
}
header:hover{
    background-color: aliceblue;
}
header:hover h3{
    color: black;
}
.logo{
    position: absolute;
    margin-left: 100px;
    cursor: pointer;
}
header:hover h3{
    cursor: pointer;
}
header h3:hover{
    text-decoration: underline;
    text-decoration-color:orange;
    text-decoration-thickness:px;
}
a:hover{
    color: orange;
}

svg{
    height: 5%;
    margin-top: -200px;
}

.depth {
    margin-left: 150px;
    margin-right: 150px;
}
section {
    padding-bottom: 70px;
}
button {
    border: none;
}
body {
    margin:0;
    line-height:inherit;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}
a {
    color:inherit;
    text-decoration:inherit;
}
.font-bold {
    font-weight:700;
}
.mb-20 {
    margin-bottom:1.25rem;
}
.text-32 {
    font-size:2rem;
}
.text-grey-dark {
    --tw-text-opacity:1;color:rgb(151 151 151 / var(--tw-text-opacity));
}
.flex {
    display:flex;
}
.flex-wrap {
    flex-wrap:wrap;
}
.disc {
    list-style-type:disc;
    padding:25px;
    margin:40px;
}
.inside-list {
    list-style-position:inside;
}
.bg-grey-lighter{--tw-bg-opacity:1;background-color:rgb(243 243 243 / var(--tw-bg-opacity))}
.flex-col{flex-direction:column}
.items-center{align-items:center}
.full-width-helper{position:relative;left:50%;right:50%;width:100vw;margin-left:-50vw;margin-right:-50vw}
.text-12{font-size:.75rem}
.text-white{--tw-text-opacity:1;color:rgb(255 255 255 / var(--tw-text-opacity))}
.bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0 / var(--tw-bg-opacity))}
.py-12{padding-top:.75rem;padding-bottom:.75rem}
.foot {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
}
.title{
    font-size: 42px;
    font-weight: bold;
    font-family: sans-serif;
}
th{
    padding:23px;
}
.transparency
{
    opacity: 0.5;
    font-weight:bold;
}
.firstrow{
    display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;height:100%;
}